* {
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Playfair Display', serif;
	color: white;
}


/* Page Section*/

body > section {
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-weight: bold;
	line-height: 1em;
	padding: 5em 0;
}

body > section a,p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

/* Page Section 1 */

.section1 {
	background-image: url(../images/main2.jpg);
	background-size: cover;	
}

.section1 h1 {
	font-weight: 600;
	font-size: 3em;
	padding: 1em 0 0.5em 0;
}

.section1 h3 {
	font-weight: 400;
	padding: 0 0 0.5em 0;
}

/* Page Section 2 */

.section2 {
	background-color: #EFEBE5;
	color: #623E2A;
}

.section2 h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: smaller;
	margin-bottom: 0.5em;
}

.section2 p {
	font-size: 0.5em;
}

.section2 div img {
	width: 100%;
	height: 60%;
	margin: 1em 0;
	object-fit: cover;
}

/* Page Section 3 */

.section3 {
	background-image: url(../images/quote.jpg);
	background-position: center center;
}

.section3 p {
	text-align: left;
	font-size: 0.6em;
}

/* Gallery of Section 2 and Section 3 */

.gallery {
	display: flex;
	flex-flow: column wrap;
	justify-content: center; 
	align-items: center;
	padding: 2em;
}

.gallery div{
	width: 30%;
	height: 20em;
	text-align: center;
}

/* Podcast */

#podcast .player-controls {
	display: none;
}

body.js #podcast .player-controls {
	display: block;
}

body.js #podcast .player-controls a {
	display: inline-block;
	background-color: white;
	color: #623E2A;
	text-decoration: none;
	font-size: small;
	margin-top: 4em;
	padding: 0.3em 4em;
}

body.js #podcast .player-controls a:last-child {
	display: none;
}

body.js #podcast .player-controls a:hover {
	background-color: #EFEBE5;
}

body.js #podcast .player-controls.playing a:first-child {
	display: none;
}

body.js #podcast .player-controls.playing a:last-child {
	display: inline-block;
}

#audio {
	display: none;
}


@media only screen and (min-width: 900px) {

	/* Page Section */
	.section1, .section2, .section3 {
		min-height: 50vh;
		text-align: center;
		font-size: 2em;
	}	

	/* Gallery of Section 2 and Section 3 */
	
	.gallery {
		flex-flow: row nowrap;
		justify-content: space-around;
	}
}